.home-photo-mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em 0;

    .home-about-jar-photo-mobile{
        width: 90vw;
        height: auto;
        box-shadow: 0.3em 0.3em 1em black;
    }
    
}