.home-footer-mobile{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1em 1em 3em inset  rgba(0, 0, 0, 0.3);

    .home-footer-mobile-text{
        text-align: center;
        font-size: 0.5em;  
        span{
            color: $font-color-secondary;
            font-weight: 500;
        }
    }

    .github-icon-mobile{
        width: 1em;
        height: 1em;

        &:hover{
            background-color: $color-secondary;
            border-radius: 50%;

        }
    }
    a{
        &:hover{
            text-decoration: none;
        }
    }
}


#contact{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    box-shadow: 1em 1em 3em inset  rgba(0, 0, 0, 0.3);

    span{
        color: $font-color-secondary;
        font-weight: 500;
    }

    .github-icon{
        width: 1.5em;
        height: 1.5em;

        &:hover{
            background-color: $color-secondary;
            border-radius: 50%;

        }
    }
    a{
        &:hover{
            text-decoration: none;
        }
    }
}